   <div class="entry">
        <div class="image">
        <a href="$img_url" title="$title"><img src="$img_src" width="500" height="375" alt="$abstract" title="$title: $abstract"/></a>
        </div>
        <div class="entrytitle">$title</div>
        <div class="entrycreated">$dt_format Hrs</div>
        <div class="entrypermalink"><a href="/" title="home">$site</a>&nbsp;/&nbsp;<a href="articles">articles</a>&nbsp;/&nbsp;$title</div>
        <div class="entrysummary"><b>Summary</b>&nbsp;$abstract</div> 
        <div class="entrybody">
        <!-- varible content -->
        $body
        <!-- end varible content -->
        </div>
   </div>
