   <div class="entry">
        <div class="image">
        <a href="$img_url" title="$title"><img src="$img_src" width="$img_width" height="$img_height" alt="$abstract" title="$title: $abstract"/></a>
        </div>
        <div class="entrytitle">$title</div>
        <div class="entrycreated">$dt_strf Hrs</div>
        <!-- <div class="entrypermalink"><a href="/" title="home">$site_name</a>&nbsp;/&nbsp;<a href="articles">articles</a>&nbsp;/&nbsp;$title</div> -->
        <div class="entrypermalink"><a href="/" title="home">home</a>&nbsp;/&nbsp;<a href="$year/">$year</a>&nbsp;/&nbsp;<a href="$year/$month_mmm">$month_mmm</a>&nbsp;/&nbsp;<a href="$year/$month_mmm/$day">$day</a>&nbsp;/&nbsp;$title</div>
        <div class="entrysummary"><b>Summary</b>&nbsp;$abstract</div> 
        <div class="entrybody">
        <!-- varible content -->
        $body
        <!-- end varible content -->
        </div>
   </div>
