<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$site_name &raquo; $title</title>
    <!-- meta -->
    <meta name="description" content="$abstract">
    <meta name="author" content="$author">
    <!-- end meta -->
    <!-- open graph: http://ogp.me/ -->
    <meta property="og:title" content="$site_name">
    <meta property="og:description" content="$abstract">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://$site_domain">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="$site_name">
    <!-- end open graph -->
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="$respath/css/new.css"/>
    <link rel="stylesheet" type="text/css" href="$respath/css/style.css"/>
    <!-- end style -->
</head>
<body>
     <!-- title -->
     <div id="header">
         <div id="top">
             <h1 id="title"><a href="/" title="home">$site_name</a></h1>
             <div id="byline">$site_byline</em></div>
         </div>
     </div>
     <!-- title -->
     <!-- content -->
     <div id="middle">
