<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$title</title>
    <!-- meta -->
    <meta name="description" content="$abstract">
    <meta name="author" content="$author">
    <!-- end meta -->
    <!-- open graph: http://ogp.me/ -->
    <meta property="og:title" content="">
    <meta property="og:description" content="$abstract">
    <meta property="og:type" content="article">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- end open graph -->
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="css/new.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- end style -->
</head>
<body>
     <!-- title -->
     <div id="header">
         <div id="top">
             <h1 id="title"><a href="/" title="home">text here</a></h1>
             <div id="byline">text here</div>
             <!--
             <div class="search">
                 <form action="http://www.google.com/search" method="get">
                 <input name="q" size="20" type="text" />&nbsp;<input type="submit" value="Search" />
                 <input name="domains" type="hidden" value="seldomlogical.com" />
                 <input name="sitesearch" type="hidden" value="seldomlogical.com" />
                 </form>
             </div>
             <div id="menu">
                 <a href="/articles" title="articles">articles</a>&nbsp;<a href="/about" title="../about">about</a>&nbsp;<a href="https://www.google.com/accounts/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttp://seldomlogical.com/&amp;ltmpl=gm&amp;shdf=ChQLEgZhaG5hbWUaCGJvb3Rsb2FkDBICYWgiFJ9DwCw3DUdyltk7fuYBQDSVHhQ9KAEyFB3b8mggoNuua-wkEuo6wnYPIte9" title="login for admin">login</a>
             </div>
             -->
         </div>
     </div>
     <!-- title -->
     <!-- content -->
     <div id="middle">
